
.container{
    margin-top: 12rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 15rem;
}

.wave {
    -webkit-animation-duration: 2.1s;
    animation-duration: 2.1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: wave-animation;
    animation-name: wave-animation;
    display: inline-block;
    -webkit-transform-origin: 70% 70%;
    transform-origin: 70% 70%;
}

@keyframes wave-animation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    10% {
        -webkit-transform: rotate(14deg);
        transform: rotate(14deg);
    }
    20% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg);
    }
    30% {
        -webkit-transform: rotate(14deg);
        transform: rotate(14deg);
    }
    40% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }
    50% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    60% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.intro{
    font-weight: 600;
    font-size: 4rem;
}

.introSlide{
    font-size: 2.5rem;
}

.intro3{
    font-size: 3rem;
}


.skillButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillText{
    font-size: 20px;
}

@media only screen and (max-width: 980px) {
    .intro {
        font-weight: 500;
        font-size:  3rem;
    }

    .introSlide{
        margin-top: 1.5rem;
        font-size: 2.5rem;
    }

    .intro3{
        font-size: 3rem;
    }

    .skillButton{
        padding: 3px;
    }
    
    .skillText{
        font-size: 30px;
    }
  }

@media only screen and (max-width: 600px) {
    .intro {
        font-size:  1.8rem;
        font-weight: 500;
    }

    .introSlide{
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .intro3{
        font-size: 1.8rem;
    }

    .skillText{
        font-size: 15px;
    }
}