.navBg{
    background-color: transparent;
    height: 6rem;
    width: 100%;
}

.links{
    justify-content: center;
    align-items: center;
    display: flex;
}

.links a{
    font-size: 20px;
    color: rgb(252, 252, 252);
    text-decoration: none;
    flex-basis: 5em;
    margin:25px;
    padding-top: 20px;
    text-transform: uppercase;
}

.links a:hover{
    color: white;
    transform: scale(1.2);
    text-decoration: underline;
    text-decoration-color: whitesmoke;
    text-underline-offset: 10px;
}

  .toggleButton {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

  #close .logoBtn{
    margin-top: 20px;
    margin-left: 30px;
    position: absolute;
    display: flex;
  }
  
  .logoBtn img{
    width: 50px;
    height: 50px;
  }

  #open .logoBtn{
    display: none;
  }
  
  .toggleButton svg {
    font-size: 50px;
  }

  .toggleButton button {
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  #open {
    height: fit-content;
    background-color: black;
    background: black;
  }
  
  #open .links {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
  }
  
  #open a {
    width: 100%;
    text-align: center;
  }

  
  @media only screen and (max-width: 980px) {
    .navbar a {
      width: 70px;
    }

    .links a{
      font-size: 22px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .toggleButton {
      display: flex;
    }
    #close a {
      display: none;
    }
  }
  
  @media only screen and (min-width: 600px) {    
    .toggleButton {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  
    #open {
      height: 100px;
    }
  
    #open .links {
      flex-direction: row;
    }

    #close .logoBtn{
      display: none;
    }
  }